@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-display: "Inter", system-ui, sans-serif;
    --color-accent: var(--accent);
    --color-primary: rgb(var(--primary));
    --color-background-dark: rgb(var(--background-dark));
    --color-background-light: rgb(var(--background-light));
    --color-accent-foreground: var(--accent-foreground);
}

@layer base {

    :root {
        --primary: 59 130 246;
        --accent: oklch(0.97 0 0);
        --background-dark: 16 22 34;
        --background-light: 255 255 255;
        --accent-foreground: oklch(0.205 0 0);
    }

    body {
        color: #1f2937;
        font-family: "Inter", sans-serif;
        background-color: rgb(var(--background-light));
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .dark body {
        color: #e5e7eb;
        background-color: rgb(var(--background-dark));
    }
}

.dark {
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
}

::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}